<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>Western Madness</name>
  <description>This is my first game</description>
  <author email="rens.coenaers@gmail.com">Rens Coenaers</author>
  <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="landscape" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />

  <icon src="icon.png" />
  <splash src="splash.png" />
</widget>