body {
    background-color: crimson;
    font-family: sans-serif;
}

#container {
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 50em;
    min-height: 30em;
    margin-top: 5%;
    overflow: hidden;
    border: black;
    border-style: solid;
}

#buttoncontainter {
    position: relative;
    width: 50%;
    height: 5em;
    min-width: 50em;
    min-height: 30em;
    border-style: solid;
}

.buttons {
    position: absolute;
    height: 50px;
    width: 20%;
    border: solid black;
    background-color: crimson;
    color: black;
    box-shadow: 4px 4px 0px 1px #606060;
    margin-top: 2.5%;
}

.background {
    position: absolute;
    height: 100%;
    width: 200%;
    bottom: auto;
    overflow: scroll;
}

#sun {
    left: 0px;
    width: 100%;
}

#background {
    left: 0px;
}

#background_1 {
    left: 0px;
}

#background_2 {
    left: 0px;
}

#background_3 {
    left: 0px;
}

#background_4 {
    left: 0px;
}

#background_5 {
    left: 0px;
}
#restart_div {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #303030;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: crimson;
    font-size: 30px;
    margin-top: 25%;
    height: 50%;
    margin-bottom: 25%;
}

#leftBtn {
    left: 0;
}

#rightBtn {
    left: 80%;
}

#jumpBtn {
    left: 40%;
}

.cowboy {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
}

#cowboy {
    left: 5em;
}

.npc {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
}

#npc1 {
    left: 0;
}

#npc2 {
    left: 0;
}

#npc3 {
    left: 0;
}

#npc4 {
    left: 0;
}

.obstacle {
    position: absolute;
    width: 75px;
    height: 100px;
}

#obstacle1 {
    left: -5;
    right: 0;
    bottom: 0;
}

#obstacle2 {
    left: -5;
    right: 0;
    bottom: 0;
}

#obstacle3 {
    left: -5;
    right: 0;
    bottom: 0;
}
.small_text {
    font-size: 15px;
}

#score_div {
    position: fixed;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 13%;
    max-width: 15%;
    font-size: 35px;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 0px 1px #606060;
}

#help {
    text-align: center;
    color: white;
    margin-top: 2%;
}
