body {
    background-color:crimson;
    font-family: sans-serif;
}

#container{
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 50em;
    min-height: 30em;
    margin-top: 5%;
    overflow: hidden;
    background: grey;
    border: black;
    border-style: solid;
}

.background{
    position: absolute;
    height: 100%;
    width: 200%;
    bottom: auto;
    overflow: scroll;
}
#background_1{
    left: 0px;
    width: 100%;
}
#background_2{
    left: 0px;
}
#background_3{
    left: 0px;
}
#background_4{
    left: 0px;
}
#background_5{
    left: 0px;
}

.cowboy{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
}
#cowboy{
    left: 5em;
}

.badguy{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
}

#badguy1{
    left: 0;
}
#badguy2{
    left: 0;
}
#badguy3{
    left: 0;
}
#badguy4{
    left: 0;
}

.woodenbox {
    position: absolute;
    width: 5em;
    height: 5em;
    bottom: 0;
}

#woodenbox1{
    left: 50;
}

.small_text{
    font-size: 15px;
}
#score_div{
    position: fixed;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 13%;
    max-width: 15%;
    font-size: 35px;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 0px 1px #606060;
}
#help{
	text-align: center;
    color: white;
    margin-top: 2%;
}
