<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
    <name short="WestMad">Western Madness</name>
    <description>Earn points by evading cacti and staying on the ground!</description>
    <author email="rens.coenaers@gmail.com">Rens Coenaers</author>
    <icon src="images/obstacle4.png" platform="android" width="57" height="57" density="mdpi" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />

    <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
    <plugin name="cordova-plugin-device" spec="1.1.2" />
    <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />

</widget>
